name: CI

on:
  pull_request:
  push:
    branches:
    - develop

permissions:
  contents: read
  checks: write

jobs:
  testAndGenerateDocs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Coursier Cache
        uses: coursier/cache-action@v6
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - name: Install sbt
        uses: sbt/setup-sbt@v1
      - name: Compile
        run: sbt compile
      - name: Compile and Generate OpenAPI
        run: sbt "compile; project engineGateway; generateOpenApi"
      - name: Test
        run: sbt -v "test:compile; domain/test; api/test"
        env:
          JAVA_OPTS: "-Dmunit.junitxml=true"
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: always()    # run this step even if previous step failed
        with:
          name: Test Report            # Name of the check run which will be created
          path: "**/target/test-reports/*.xml"    # Path to test results
          reporter: java-junit        # Format of test results
        env:
          JAVA_OPTS: "-Xmx3G"

